input[type='button']{
    border-radius: 50px;
    padding: 1px;
    width: 130px;
}
input[type='text']{
    border-radius: 50px;
    padding: 5px;
    width: 310px;
    padding-left: 25px;
    border-width: 1px;
}
input[type='text'].smd{
    width: 270px;
    position: relative;
}
.dpdown{
    position: absolute;
    left: 250px;
    border-radius: 50px;
    width: 200px;
    top: 5px;
}
input[type='button']:hover,input[type='button']:focus,.navbar{
    background-color: black;
    color: white;
}
a.navlink{
    color: white;
}