input[type='button']{
    border-radius: 50px;
    padding: 1px;
    width: 130px;
}
input[type='text']{
    border-radius: 50px;
    padding: 5px;
    width: 310px;
    padding-left: 25px;
    border-width: 1px;
}
input[type='button']:hover,input[type='button']:focus,.navbar{
    background-color: black;
    color: white;
}
a.navlink{
    color: white;
}
.dpdown{
    border-color: black;
    border-radius: 100px;
    position: absolute;
    left: 5px;
    top:7px;
}
.select{
    position:relative;
}
a img{
    width: 35px;
    border: 2px solid black;
    padding: 2px;
    border-radius: 50px;
}