*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
/*.video-container{
    border: white;
    border-style: dashed;}
*/
.collapsibleNavbar{
    transition: ease 0.8s;
}
#banner{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgba(15, 11, 37, 0.219);
    justify-content: space-between;
    width: 100%;
    min-height: 8vh;
    z-index: 9998;
    align-items: center;
    margin:auto;
    top: 0;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 2vh;
}
#navtext{
    font-family: 'Raleway';
    font-size: 3vw;
    color: white;
    transition: top .6s;
}
.nav-link{
    text-decoration: none;
    color: white;
    display: flex;
    list-style: none;
    font-family: 'Krub';
}
.navbar-brand img{
    width: 50px;
    height: 50px;
}
.video-container {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  .video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  #landingtop {
    position: relative;
    z-index: 2;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
#buffertop{
    height: 10vh;
}
#top{
    height: 70%;
    align-items: center;
}
#bottom{
    height: 20%;
}
#brandname{
    position: absolute;
}
#desc{
    position: relative;
    font-family: 'Raleway';
    font-size:2vw;
    color: white;
}
#tagline{
    position: relative;
    font-family: 'Krub';
    font-size: 6vw;
    color: white;
}
#searchbtn{
    border: white;
    border-style: solid;
    border-radius: 100px;
    text-decoration: none;
    margin: 2vh;
    transition: ease .8s;
}
#searchbtn:hover{
    background-color: white;;
}
#searchbtn:hover #srch{
    color:black;
    font-size: 25px;
}
#srch{
    font-family: 'Raleway';
    font-size:20px;
    color:white;
    padding:15px;
    transition: ease .8s;
}

#landingbot{
    position: relative;
    height:100vh;
    background: linear-gradient(181deg, #fefee3, #ffc9b9, #4c95bc);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 25s ease infinite;
    -moz-animation: AnimationName 25s ease infinite;
    -o-animation: AnimationName 25s ease infinite;
    animation: AnimationName 25s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
@keyframes AnimationName {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}